body{
    background-color: rgb(39, 31, 31);
}

.nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.navbar-brand{
    font-family:"creepster";
}